.btn-default {
  font-size: 250%;
  background: transparent;
  border: none;
  padding: 0;
  margin-right: 50px;
}

.panel-info {
  .panel-footer {
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
}
